


#highscoreslist {
  background-color: rgb(70, 0, 128);
  color: gold;
}

#toprow {
  background-color:rgb(70, 0, 128);
  padding: 12px;
  color: gold;
}

#title {
  padding: 25px 0px 15px 0px;
}

#rightorwrong {
  font-style: italic;
  color: black;
  font-size: 90px;
}

#highscores {
  padding: 25px 0px 15px 0px;
  background-color: gold;
 
  
}

body{
   background-image: url(https://wallpapercave.com/wp/TZnZlya.jpg);
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-size: cover;
margin-bottom: 200px;
position: relative;
color: black;
}

#start{
  background-color: gold;

}

#quiz{
  background-color:gold;

}

#scoreContainer{
  background-color:gold;
}